body{
    background-color: rgb(55,48, 48);
}
p{
    font-family: 'Sono', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 60px;
margin: 0px;
color: white;
text-align: center;
  text-shadow: 10px 10px 30px rgb(6, 30, 136), -10px -10px 30px rgb(77, 6, 209) ;
-webkit-text-stroke: 2px rgb(193, 29, 205);
-webkit-text-fill-color:transparent;


} 
